<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="Neibu.main.beta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="underclothes.game.diandian.GlApp"
            android:configChanges="orientation|keyboardHidden"
            android:label="diandian" />
        <activity
            android:name="underclothes.game.flowers.GlApp"
            android:configChanges="orientation|keyboardHidden"
            android:label="flowers" />
        <activity
            android:name="underclothes.android.pleasewait.GlApp"
            android:configChanges="orientation|keyboardHidden"
            android:label="pleasewait" />
        <activity
            android:name="underclothes.game.masaike.GlApp"
            android:configChanges="orientation|keyboardHidden"
            android:label="masaike" />
    </application>
        <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>